include /elements/images

mixin qq-btn-reject({ text, icon, isActv, onClick, className })
  - let clickHandler = "this.classList.toggle('actv')"
  .qq-btn-reject(
    class=className
    class=(isActv && "actv")
    onclick=(onClick || clickHandler)
  )
    +svg({ name: icon, width: 18, height: 18 })
    span=text
