-
  let labelsData = [
    {
      name: 'Ready to Print',
      icon: "status-print",
      bgColor: '#ccffff',
      color: '#162854'
    },
    {
      name: 'Carrier',
      icon: "status-auto",
      bgColor: '#ffff00',
      color: '#162854'
    },
    {
      name: 'Ready for Pickup',
      icon: "status-box",
      bgColor: '#ccff33',
      color: '#162854'
    },
    {
      name: 'Pickup Occurred',
      icon: "status-drive",
      bgColor: '#6699ff',
      color: '#ffffff'
    },
    {
      name: 'Ready for delivery',
      icon: "status-build",
      bgColor: '#0033cc',
      color: '#ffffff'
    },
    {
      name: 'Route Optimized',
      icon: "status-dots",
      bgColor: '#9900ff',
      color: '#ffffff'
    },
    {
      name: 'Driver Out',
      icon: "status-auto-front",
      bgColor: '#339933',
      color: '#ffffff'
    },
    {
      name: 'Delivered',
      icon: "status-check-circle",
      bgColor: '#00cc33',
      color: '#ffffff'
    },
    {
      name: 'Delivery Attempted',
      icon: "status-attempt",
      bgColor: '#ff6666',
      color: '#ffffff'
    },
    {
      name: 'Returned',
      icon: "status-build-arrow",
      bgColor: '#663300',
      color: '#ffffff'
    },
    {
      name: 'Rejected',
      icon: "status-rejected",
      bgColor: '#cc0033',
      color: '#ffffff'
    },
    {
      name: 'Investigation',
      icon: "status-questions",
      bgColor: '#ff9933',
      color: '#ffffff'
    },
    {
      name: 'Back to pharmacy',
      icon: "status-pharmacy",
      bgColor: '#ff0000',
      color: '#ffffff'
    },
    {
      name: 'Ready to optimize',
      icon: "status-set",
      bgColor: '#cc99ff',
      color: '#162854'
    },
    {
      name: 'On its way to facility',
      icon: "status-transfer",
      bgColor: '#162854',
      color: '#ffffff'
    },
    {
      name: 'Draft',
      icon: "status-draft",
      bgColor: '#e0e3e6',
      color: '#162854'
    }
  ]
