include /components/button/qq-btn-reject
include /components/qq-rejected-queue
include /components/qq-hold

mixin qq-controls-reject({})
  .qq-controls-reject
    +qq-btn-reject({ text: "Open New Ticket", icon: "ticket" })
    +qq-btn-reject({ text: "Repeat stop for driver", icon: "repeat" })
    +qq-hold({})
    +qq-hold({ isActv: true })
    +qq-rejected-queue({ isActv: true })
