include /elements/images

mixin qq-progress({ index, errorIndex })
  -
    let progressItems = [
      { text: "Building", icon: "house" },
      { text: "Apartment", icon: "doors" },
      { text: "Recipient Name", icon: "user-2" },
      { text: "Signature", icon: "signature-pen" },
      { text: "Delivery Method", icon: "doorstep-delivery" },
      { text: "Special instruction", icon: "book-info" },
      { text: "Copay", icon: "usd-circle" },
      { text: "Photo ID", icon: "user-card-2" }
    ]
  .qq-progress
    each it, i in progressItems
      button.qq-progress__label(
        class=(i === index && "pending")
        class=(i < index && "done")
        class=(i === errorIndex && "error")
      )
        +svg({ name: it.icon, width: 16, height: 16 })
        =it.text
