include /elements/images

mixin qq-progress({ current, error = [], prevError })
  -
    let progressItems = [
      { text: "Building", icon: "house" },
      { text: "Apartment", icon: "doors" },
      { text: "Recipient Name", icon: "user-2" },
      { text: "Signature", icon: "signature-pen" },
      { text: "Delivery Method", icon: "doorstep-delivery" },
      { text: "Special instruction", icon: "book-info" },
      { text: "Copay", icon: "usd-circle" },
      { text: "Photo ID", icon: "user-card-2" }
    ]
  .qq-progress
    each it, i in progressItems
      button.qq-progress__label(
        class=(i === current && "current")
        class=(i < current && "done")
        class=(error.includes(i) && "error")
        class=(i === prevError && "prevError")
      )
        +svg({ name: it.icon, width: 16, height: 16 })
        =it.text
