extends /elements/layout-page
include /components/p-header
include /components/qq-filter
include /components/button/qq-btn-actv
include /components/table/qq-table-questions
include /components/table/qq-table-dashboard-queue
include /components/table/qq-table-dashboard-rejected

block data
  - title = "Rx2Go Admin: QAQC — Queque Dashboard"
  - headerTitle = "QAQC Queque Dashboard"

block header
  +p-header({
    title: headerTitle,
    type: "dashboard",
    btnText: "Queue"
  })

block content
  .p-qaqc
    .p-qaqc__dashboard
      div
        .p-qaqc__filter
          +qq-btn-actv({ text: "All", isActv: true })
          +qq-btn-actv({ text: "Delivered"})
          +qq-btn-actv({ text: "Attempts"})
          +qq-filter({ className: "p-qaqc__filter-modal"})
        +qq-table-questions({})
      +qq-table-dashboard-queue({})

