include /elements/images


mixin dq-legend({})
  .dq-legend
    .dq-legend__content
      .dq-legend__photo
        img(src="/img/placeholder-driver.jpg" width="40" height="40" alt="")
      .dq-legend__center
        .dq-legend__data 97 ft.
        .dq-legend__line
      .dq-legend__destination
        +svg({ name: "icon-map-house", width: 14, height: 14 })
