include /elements/images

mixin qq-card-notes({ time, isPerson, isError })
  .qq-card-notes
    .qq-card-notes__num #19245347
    .qq-card-notes__row
      .qq-card-notes__time 01:54:48
      .qq-card-notes__label(class=isError ? 'red' : "blue")=time
    if isPerson
      .qq-card-notes__row
        .qq-card-notes__person
          +picture({ image: "/img/placeholder-person.jpg", width: 18, height: 18 })
          span Paul
        .qq-card-notes__label(class=isError && 'lightred')=isError ? "4 min" : "20 sec"
