.qq-progress {
  display: flex;
  gap: 8px;
}
.qq-progress__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  margin: 0;
  padding: 7px 14px;
  font-family: @font-default;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: @color-signal-blue;
  background-color: @color-periwinkle-crayola;
  border: 1px solid transparent;
  border-radius: 30px;
  svg {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: currentcolor;
  }
  &.prevError {
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 25px;
      display: block;
      width: 6px;
      background-color: @color-radical-red;
      border-radius: 50%;
      aspect-ratio: 1;
    }
  }
  &.done {
    background-color: rgb(@color-lime-green-2 0.1);
    svg {
      fill: @color-lime-green-2;
    }
  }
  &.error {
    background-color: @color-periwinkle-crayola;
    border: 1px solid @color-radical-red;
    svg {
      fill: @color-radical-red;
    }
  }
  &.current {
    background-color: rgb(@color-melon-yellow-2 0.3);
  }
  &:hover,
  &:focus-visible {
    cursor: pointer;
  }
}
